#menuToggle {
  display: block;
  position: relative;
  transform: translateY(50%);
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.navList {
  min-width: 1vw;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

#menuToggle a:hover {
  font-weight: bold;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
  display: block;
  width: 47px;
  height: 1px;
  margin-bottom: 12px;
  position: relative;
  background: black;
  opacity: 1;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(1) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(5px, -6px);
  background: black;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
  background: black;
  opacity: 1;
  transform: rotate(-45deg) translate(-5px, 14px);
}

/*
 * Ohyeah and the last one should go the other direction
 */

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  display: none;
  text-align: left;
  padding-top: 125px;
  right: calc(0% - 20px);
  top: calc(0% - 45px);
  width: 100vw;
  height: 100vh;
  background: #feeed6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.is-vissually {
  display: block !important;
}

.navText {
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.navText:hover {
  font-weight: bold;
}

/* li:hover {
    transform: scale(1.1);
} */

/*
 * And let's slide it in from the left
 */

#menuToggle input:checked ~ ul {
  transform: none;
}

.contact {
  position: relative;
  margin-top: 70px !important;
  width: 100%;
  max-width: 190px;
  margin: 0 20px;
  border-radius: 146px;
  padding: 18px 57px 18px 32px;
  background-color: #cac9f9;
  font-weight: 700;
  text-align: center;
}

.contact:hover {
  transform: scale(1.1) translate(10px);
  transform-origin: center;
}

.contact::before,
.contact::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 7px;
  background-color: black;
  left: 75%;
}

.contact::before {
  transform: rotate(-45deg) translate(-17px);
}

.contact::after {
  transform: rotate(45deg) translate(-17px);
}

.linkedinTop,
.facebookTop {
  max-width: 22px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

@media (min-width: 720px) {
  #menu {
    right: calc(0% - 40px);
    top: calc(0% - 120px);
    padding-top: 400px;
  }
 
  .navText {
    padding: 15px 40px;
  }

  .contact {
    margin: 0 40px;
  }

}
